@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
}

@layer utilities {
  .mobile-light {
    background-image: url("./assets/images/bg-mobile-light.jpg");
  }
  .mobile-dark {
    background-image: url("./assets/images/bg-mobile-dark.jpg");
  }
  .desktop-light {
    background-image: url("./assets/images/bg-desktop-light.jpg");
  }
  .desktop-dark {
    background-image: url("./assets/images/bg-desktop-dark.jpg");
  }
}
